.button-list {
  list-style-type: none;
  margin: 10px;
}

.fruits-btn {
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border-width: 0;
  outline: none;
  cursor: pointer;
}

.fruits-btn-display {
  background-color: transparent;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #fec653;
  border-width: 0;
  outline: none;
  cursor: pointer;
  border-bottom-width: 2px;
  border-color: #fec653;
}
